@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&family=Rajdhani&display=swap");
* {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 1236px;
  padding: 0 20px;
}

header .container {
  margin: 17px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .container ul {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header .container ul li {
  list-style-type: none;
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.09em;
  color: #000000;
}

header .container ul li a {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.09em;
  color: #000000;
  text-decoration: none;
}

header .container .nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 16%;
          column-gap: 16%;
}

header .container .contacts {
  text-align: right;
}

main .content {
  background: url(assets/Rectangle1.png) no-repeat, url(assets/bakeryMain.png) no-repeat;
  background-position: center;
  background-size: 100%;
}

main .content .conteiner {
  padding-top: 16%;
  padding-bottom: 16%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .content .conteiner h1 {
  font-family: 'Oleo Script';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 89px;
  letter-spacing: 0.09em;
  color: #FFFFFF;
}

main .about {
  padding-top: 5%;
  background: url(assets/background.png);
}

main .about .container {
  padding-bottom: 10%;
  background: url(assets/bulka2.png) no-repeat 102% 21%, url(assets/bulka1.png) no-repeat 0 97%;
}

main .about .container h2 {
  margin-bottom: 7%;
  text-align: center;
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 41px;
  letter-spacing: 0.09em;
  color: #000000;
}

main .about .container .features h3 {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: 0.09em;
  color: #000000;
}

main .about .container .features p {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.09em;
  color: #000000;
}

main .about .container .features img {
  margin-right: 5%;
}

main .about .container .features__top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 1fr;
      grid-template-columns: 60% 1fr;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  row-gap: 36%;
  margin-bottom: 15%;
}

main .about .container .features__top__card1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .about .container .features__top__card2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .about .container .features__bottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 60%;
      grid-template-columns: 1fr 60%;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  row-gap: 36%;
}

main .about .container .features__bottom .diftext {
  letter-spacing: 0.065em;
}

main .about .container .features__bottom__card1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

main .about .container .features__bottom__card2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  padding-top: 3%;
  background: url(assets/backgroundfooter.png), #282828;
}

footer .menu {
  padding-bottom: 10%;
  margin: 0 auto;
}

footer .menu .slider {
  padding: 0 18%;
  position: relative;
}

footer .menu .slider .slick-arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 50px;
  height: 50px;
  border: none;
}

footer .menu .slider .slick-arrow.slick-prev {
  left: 14%;
  background: url(assets/arrLeft.svg) no-repeat 0 0;
}

footer .menu .slider .slick-arrow.slick-next {
  right: 14%;
  background: url(assets/arrRight.svg) no-repeat 0 0;
}

footer .slick-list {
  overflow: hidden;
}

footer .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3%;
}

footer .top p {
  margin-left: 2%;
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.09em;
  color: #FFFFFF;
}

footer .bottom {
  padding-bottom: 2%;
}

footer .bottom .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .bottom .container .media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .bottom .container .media img {
  cursor: pointer;
}

footer .bottom .container .media img:not(:first-child) {
  margin-left: 10%;
}

footer .bottom .container .contacts {
  list-style-type: none;
  text-align: right;
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.09em;
  color: #ffffff;
}
/*# sourceMappingURL=styles.css.map */